<h1>Step 1: Choose your Model and color</h1>

<label for="modelSelect">Model: </label>
<select #model (change)="setModel()" name="model" id="modelSelect">
    <option disabled selected>Choose a model</option>
    <option *ngFor="let model of modelOptions" [value]="model.code" [selected]="selectedModel?.code==model.code">
        {{model.description}}
    </option>
</select>

<label for="colorSelect">Color:</label>
<select #color (change)="setColor()" [disabled]="!selectedModel?.colors?.length" name="color" id="colorSelect">
    <option disabled selected>Choose a color</option>
    <option *ngFor="let color of selectedModel?.colors" [value]="color.code"
        [selected]="selectedColor?.code== color.code">
        {{color.description}}</option>
</select>

<img *ngIf="util.imgSrc" [src]="util.imgSrc" alt="">